body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  /* border-bottom: 1px solid black; */
  padding: 60px;

}



h1 {
  font-family: 'Alegreya', 'Franklin Gothic Medium', Arial, sans-serif;
}

p .phrase  {
  font-family: 'Alegreya', 'Franklin Gothic Medium', Arial, sans-serif;
  color: #2AD5DB;
}


.description {
  white-space: pre-wrap;
}

p #currentDay  {
  font-size: 16px;
  font-family: 'Alegreya', 'Franklin Gothic Medium', Arial, sans-serif;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}


/* .form-control {
  background: transparent; !important;
  border: none;
} */

textArea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;

}

/* textArea .past {
  color: white;
} */



.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  background: transparent;
  /* display: flex;
  align-items: center; */
  }
  

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  padding-top: 5px;
  padding-right: 15px;
}



.past {
  /* background-color: #7e8287; */
  background-color: #9da39a;
}




.future {
  background-color: #CFCFE8;
  
}

.present {
  background-color: #F7E38C;
}

.saveBtnContainer {

    border-left: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2AD5DB;

    /* background-color: #0d6efd; !important; */
    color: white;
    padding-top: 5px;
  
  
  }


.saveBtn {
  /* border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  /* background-color: #06aed5; !important; 
  */
  /* background-color: #0d6efd; */
  background: transparent;
  color: white; 
  border: none;
  font-size: 30px;
  padding-right: 10px;
  


}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: white; 
}


#currentDay {
  font-size: 25px;
}

/* .time-div {
  background-color: white;
  color: black;
  border: 3px solid gray;
  border-left: none;
} */

i {
  font-size: 24px;
}